.VideoContainer {
  height: 100%;
  width: 100%;

  position: relative;
}

.Video {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 100%;
  width: 100%;
  background-color: gray;
}
