.ToggleButton {
  border: none;
  border-radius: 7px;
  font-weight: 600;
  padding: 2px 10px;
  box-shadow: 0px 0px 10px #999;
  cursor: pointer;
  color: #555;

  /* min-height: 26px; */
  transition: background-color 0.3s ease-in;
}

.Active {
  background-color: #006464;
  color: white;
}

/* .Active:hover {
  opacity: 75%;
} */

.ToggleButton:hover {
  /* background-color: #ff4500; */
  /* color: white; */
  /* opacity: 75%; */
  box-shadow: 0px 0px 10px #555;
}
