.CaptionsContainer {
  height: 100%;
  position: relative;
  padding-top: 14px;
  overflow-x: hidden;
}

.Caption {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 22px;
  display: flex;

  padding: 14px 0px;
  border-radius: 2px;
}

.Caption p:first-child {
  margin-top: 0;
}

.CaptionColumn {
  max-width: 1200px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

.Left {
  /* flex-basis: 1; */
  flex-shrink: 0;
  margin-right: 4px;
  padding-bottom: 7px;

  display: flex;
  align-items: flex-start;
}

.Right {
  /* flex-basis: 3;
  flex-shrink: 1; */
  flex-grow: 1;
}

.CaptionLabel {
  margin-right: 1em;
  margin-left: 1em;
  font-weight: 600;
  font-size: 11px;
}

.Active {
  background-color: inherit;
}

.ActiveAnnotation {
  transition: background-color 1s;
}

.InactiveAnnotation {
  border: none;
}

.SynchButtonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-bottom: 13px;
}

@media screen and (max-width: 600px) {
  .SynchButtonContainer {
    left: 0;
    right: 0;
    padding-left: unset;
    display: flex;
    justify-content: center;
  }

  .Caption {
    flex-wrap: wrap;
  }
}

.TimestampButton {
  font-size: 11px;
  appearance: none;
  border: none;
  color: #666;
  background-color: inherit;
  text-decoration: underline;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.TimestampButton:hover {
  color: #222;
}

.SynchButton {
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0px 0px 10px gray;
}

.SynchButton:hover {
  cursor: pointer;
  background-color: rgb(230, 108, 61);
}

.Title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
