.Dropdown {
  margin-right: 10px;
}
.Dropdown select {
  max-width: 180px;
  text-overflow: ellipsis;

  position: relative;
  border: none;
  background-color: inherit;
  padding: 0px 3px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;

  text-decoration: underline;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.Dropdown select option {
  border: none;
}

.Dropdown label {
  font-weight: 600;
  margin-right: 4px;
}
