.AnnotationViewerContainer {
  height: 100vh;

  display: flex;
  flex-direction: column;

  /* background-color: green; */
}

.Header {
  /* background-color: orange; */
}

.Footer {
  /* background-colsor: orchid; */
}

.Main {
  flex: 1;
  flex-basis: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.PlayerContainer {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  background-color: blue;
  color: white;
  transition: flex-basis 750ms ease-out;
}

.PlayerContainer.size-medium {
  flex-basis: 50%;
}
.PlayerContainer.size-small {
  flex-basis: 33%;
}

.CaptionsContainer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  /* background-color: #efefef; */
  color: #222;

  overflow: scroll;
}

.Constrained {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.Wide {
  /* padding: 0 80px; */
}

.ControlBarContainer {
  flex: 1;
  align-items: center;
  padding: 3px 0px;
  box-shadow: 0px 0px 10px #999;
  background-color: white;
}

.TitleBlock {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 60px;
  padding-right: 22px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.VideoTitle {
  font-family: 'Yale New', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1em;
  margin: 9px 0;
  /* background-color: white; */
}

.PreambleBlock {
  /* display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%; */
  background-color: #efefef;

  align-items: center;
}

.LinkTray {
  font-size: 13px;
  font-weight: 500;
  display: flex;
}

.LinkTray > * {
  margin-right: 16px;
  /* background-color: white;
  line-height: 2em; */
}

.CallNumber {
  text-transform: uppercase;
  font-weight: 600;
}
